<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/common/variables.css">
    <link rel="stylesheet" href="/stylesheets/common/header-components.css">
    <link rel="stylesheet" href="/stylesheets/common/side-menu.css">
    <link rel="stylesheet" href="/stylesheets/authentication/signup-form.css">
    <link rel="stylesheet" href="/stylesheets/authentication/login-form.css">
    <script src="https://kit.fontawesome.com/00e0920e71.js" crossorigin="anonymous" defer></script>
    <title>ezwallpapers | log-in</title>

</head>

<body>
    <header>
        <%- include('partials/common/header-components', {user}); %>
    </header>

    <aside class="side-menu side-menu-close">
        <%- include('partials/common/side-menu'); %>
    </aside>

    <main>
        <%if(form === 'signup'){ %> 
            <%- include('partials/authentication/signup-form'); %>
        <%}else{%> 
            <%- include('partials/authentication/login-form'); %>
        <%} %> 
    </main>
</body>
<%if(form === 'signup'){ %> 
    <script src="/javascripts/authentication/signup-form.js" defer></script>
<%} %> 
<script src="/javascripts/common/dropdown-menu.js"></script>
</html>