<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>

    <div><a href="http://localhost:3000/explore/animal/">animals</a></div>
    <div><a href="http://localhost:3000/explore/anime/">anime</a></div>
    <div><a href="http://localhost:3000/explore/cars/">cars</a></div>
    <div><a href="http://localhost:3000/explore/dark/">dark</a></div>
    <div><a href="http://localhost:3000/explore/superhero/">superhero</a></div>
    <div><a href="http://localhost:3000/explore/nature/">nature</a></div>
    <div><a href="http://localhost:3000/explore/motivational/">motivational</a></div>
    <div><a href="http://localhost:3000/explore/space/">space</a></div>
    <div><a href="http://localhost:3000/explore/chirstmas/">chirstmas</a></div>
    <div><a href="http://localhost:3000/explore/god/">god</a></div>
    
</body>
</html>