main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #232323;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 100%;
    gap: 20px;
    border: 1px solid var(--hover-colour);
}



.form-profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.form-profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #2c2c2c;
    object-fit: cover;
    object-position: center;
}
.form-profile-picture input {
    display: none;
}
.upload-label {
    background: #2c2c2c;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #c2c2c2;
    font-size: 12px;
}
.signup-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}
.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}
.form-group input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #2c2c2c;
    color: #c2c2c2;
    outline: none;
}

.form-group textarea::-webkit-scrollbar {
    width: 0;
}

.form-group label {
    font-size: 14px;
    color: #c2c2c2;
    margin-bottom: 5px;
}

.half {
    flex: 1;
    min-width: 150px;
}

/* .tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    background: #2c2c2c;
    border-radius: 5px;
}
.tag {
    background: #444;
    color: #c2c2c2;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
} */

.tag-input-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background: #2c2c2c;
    background-color: transparent;
    border-radius: 5px;
    min-height: 40px;
    width: 100%;
    border: 1px solid var(--hover-colour);
}

.tag-input {
    outline: none;
    border: none;
    color: var(--secondry-color);
}

.tag {
    background: #444;
    background-color: var(--hover-colour);
    color: #c2c2c2;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin: 5px;
    display: flex;
    align-items: center;
}
.tag .remove-tag {
    margin-left: 8px;
    cursor: pointer;
    color: #ff4d4d;
    font-weight: bold;
}
/* .tag-input-container input {
    flex-grow: 1;
    border: none;
    background: transparent;
    color: #c2c2c2;
    outline: none;
    min-width: 100px;
} */

.required-field{
    color: tomato;
    font-size: 0.8rem;
    padding: 0.25rem 0;
    display: none;
}

.signup-actions button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
.signup-actions button:hover {
    opacity: 0.8;
}
/* @media (max-width: 768px) {
    .signup-container {
        flex-direction: column;
        align-items: center;
    }
} */