body{
    height: 100vh;
    align-items: center;
}

main{
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.container{
    width: 30%;
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-colour);
    border-radius: var(--element-border-radius);
    box-shadow: rgba(28, 28, 28, 0.35) 0px 5px 15px;
}

/* main > img{
    display: inline-block;
    width: 50%;
    height: 200px;
    object-fit: contain;
} */

.headings{
    width: 100%;
    display: flex;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.signup-form-toggle,
.login-form-toggle{
    width: 50%;
    padding: 0.5rem 0;
    background-color: transparent;
    color: var(--secondry-color);
    text-align: center;
    border-radius: var(--element-border-radius);
    cursor: pointer;
    outline: 0;
    border: 0;
}

.form-container{
    display: flex;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.login-card,
.signup-card{
    flex: 0 0 100%;
    position: relative;
    width: 100%;
    transition: all 0.3s ease;
    padding: 0 1rem;
}

.login-card{
    left: -100%;
}

.signup-card{
    right: 100%;
}



.input-container{
    position: relative;
    border: 0.13rem solid var(--secondry-color);
    background-color: transparent;
    margin: 1rem 0;
    z-index: 1;
    border-radius: var(--element-border-radius);
    padding: 0.5rem;
}

.form-container input{
    width: 100%;
    outline: 0;
    border: 0;
    color: var(--secondry-color);
    font-size: var(--elements-font-size);
    background-color: transparent;
}

.input-container > label{
    position: absolute;
    left: 0.3rem;
    color: var(--secondry-color);
    font-size: var(--elements-font-size);
    transition: all 0.2s ease;
    padding: 0 0.3rem;
    cursor: text;
}

.input-container:has(input:focus),
.input-container:has(input:valid){
    border-color: limegreen;
}

.form-container input:focus ~ label,
.form-container input:valid ~ label{
    z-index: 2;
    color: limegreen;
    font-size: 0.65rem;
    background-color: var(--primary-colour);
    transform: translateX(8%) translateY(-100%);
    border-right: 0.13rem solid limegreen;
    border-left: 0.13rem solid limegreen;
}

.form-container button{
    width: 100%;
    font-size: var(--elements-font-size);
    border-radius: var(--element-border-radius);
    background-color: rgb(101, 101, 233);
    outline: 0;
    color: var(--primary-colour);
    border: var(--element-border) solid rgb(101, 101, 233);
    cursor: pointer;
    padding: 0.3rem 0;
    margin: 1rem 0;
}

.active{
    background-color: rgb(101, 101, 233);
    color: var(--primary-colour);
}

@media screen and (max-width: 900px){
    main{
        width: 85%;
    }
}