<div class="report-detail-card">
    <button class="report-detail-card-close-button" onclick=hideReportInfoCard()>&times;</button>
    <div class="report-detail-card-header">Report Details</div>
    <div class="report-detail-card-body">
        <div class="report-detail-card-info" id="reporter"></div>
        <div class="report-detail-card-info" id="repoted"><strong>For:</strong></div>
        <div class="report-detail-card-info" id="report-reason"><strong>Type:</strong></div>
        <div class="report-detail-card-info" id="report-message"><strong>Message:</strong></div>
        <div class="report-detail-card-info" id="report-date"><strong>Date:</strong></div>
    </div>
    <div class="report-detail-card-actions">
        <button class="dismiss delete-report">Dismiss</button>
        <button class="take-action">Take Action</button>
    </div>
</div>