<div class="report-card" status="closed">
    <button class="report-card-close-button">&times;</button>
    <div class="report-card-header">Total Reports</div>
    <div class="report-card-report-list"></div>
    <div id="report-card-no-reports">
        <i class="fa-solid fa-box-open"></i>
        <span>No Reports Found</span>
    </div>
</div>