<div class="glassmorphism form-container">
    <form class="submission-form" action="/submit" method="post">
        <input type="text" placeholder="Title">
        <textarea name="keywords" id="keywords" placeholder="4k Wallpaper"></textarea>
        <select name="category" id="category">
            <option value="anime">Anime</option>
            <option value="anime">Animal</option>
            <option value="anime">God</option>
            <option value="anime">Superheroes</option>
            <option value="anime">christmas</option>
            <option value="anime">motivational</option>
            <option value="cars">Cars</option>
            <option value="nature">Nature</option>
            <option value="artworks">Dark</option>
            <option value="artworks">Space</option>
        </select>
        <label for="user-wallpaper" class="card-button">Upload</label>
        <input type="file" name="user-wallpaper" id="user-wallpaper">
        <input type="submit" class="card-button" value="Submit">
    </form>
</div>