<!-- <div class="header-components-container">
</div> -->

<div class="left-side-components">
    <button class="side-menu-open-button"><i class="fa-solid fa-bars"></i></button>
    <h3><span>Ez</span>Wallpapers</h3>
</div>

<form action="http://localhost:3000/" method="GET" class="search-box">
    <input type="text" name="search" class="search-input" placeholder="Search" autocomplete="off">
    <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>

<div class="right-side-components">
    <% if(user){ %>
        <button class="upload-button upload-wallpaper"><i class="fa-solid fa-upload"></i>Upload</button>
        <img class="dropdown-menu-trigger" src="<%=user.profilePicture%>" alt="profile"> 
    <% }else{ %>
        <a href="http://localhost:3000/auth/signup">
        <button class="signup-button">Join</button>
    </a>
    <% } %>
    <button class="mobile-menu-open-button"><i class="fa-solid fa-bars"></i></button>    
</div>