.box-container{
    width: 100%;
    margin-bottom: 1rem;
}

.box-container > img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    background-color: var(--primary-colour);
    margin: auto;
}

.upload-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0.5rem 0;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-img{
    flex-shrink: 0;
    width: 4%;
    width: 2rem;
    margin-right: 0.75rem; 
    aspect-ratio: 1 / 1;
}

.user-img > img{
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: var(--round-border-radius);
}

.user-name{
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
    text-decoration: none;
    color: var(--secondry-color);
}

.user-name:hover{
    color: var(--secondry-hover-color);
}

.options{
    display: inline-flex;
    align-items: center;
    position: relative;
}

.options > button{
    border: 0;
    color: var(--secondry-color);
    margin: 0 0.15rem;
    padding: 0.35rem 0.75rem;
    cursor: pointer;
    font-size: clamp(0.55rem, 1.4vw, 1.25rem);
    background-color: var(--primary-colour);
    border-radius: var(--round-border-radius);
    border: 1px solid var(--hover-colour);
    text-align: center;
}

.options > button:hover{
    background-color: var(--hover-colour);
}

.options > button > i{
    font-size: clamp(0.55rem, 1.4vw, 1.25rem);
    margin-right: 0.35rem;
}

#moreOptionsBtn > i{
    margin-right: 0;
}

/* haaa */
  
  .more-options-dropdown {
    position: absolute;
    right: 0;
    top: 120%;
    background-color: var(--primary-colour);
    border: 1px solid var(--hover-colour);
    border-radius: var(--element-border-radius);
    overflow: hidden;
    min-width: 150px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 100;
  }
  
  .more-options-dropdown a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--secondry-color);
    font-size: clamp(0.55rem, 1.4vw, 1.25rem);
    transition: background 0.2s ease;
  }
  
  .more-options-dropdown a:hover {
    background-color: var(--hover-colour);
  }
  
  .more-options-dropdown.show {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: auto;
  }

  
  /* haaaa */

.wallpaper-details{
    display: flex;
    flex-direction: column;
    padding: 0.75rem 0 1rem 0;
}

.wallpaper-details > span{
    color: var(--secondry-hover-color);
    font-size: clamp(0.55rem, 1.4vw, 1.25rem);
    padding: 0.25rem 0;
}

.wallpaper-details > span > i{
    font-size: clamp(0.55rem, 1.4vw, 1.25rem);
    margin-right: 0.75rem;
}

.tags-container{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.tags-container > a{
    text-decoration: none;
    font-size: clamp(0.55rem, 1.4vw, 1rem);
    color: var(--secondry-color);
    padding: 0.25rem 0.5rem;
    background-color: var(--primary-colour);
    margin: 0.25rem 0.25rem 0.25rem 0;
}

.tags-container > a:hover{
    background-color: var(--hover-colour);
}

@media screen and (min-width: 1440px){
    .user-img{
        width: 38px;
    }
}

@media screen and (max-width: 770px){
    .user-img{
        width: 30px;
        margin-right: 0.5rem;
    }

    .options > button{
        padding: 0.2rem 0.5rem;
    }

    .more-options-dropdown{
        min-width: 100px;
    }

    .upload-info{
        padding-top: 0.7rem;
    }

    .tags-container{
        padding: 0.7rem 0;
    }
}

@media screen and (max-width: 450px) {
    .user-img{
        width: 22px;
    }

    .upload-info{
        padding-top: 0.35rem;
    }

    .more-options-dropdown > a{
        padding: 0.35rem;
    }
    
    .wallpaper-details{
        padding-top: 0.4rem;
        padding-bottom: 0.5rem;
    }

    .wallpaper-details > span{
        padding: 0.15rem 0;
    }

    .tags-container{
        padding: 0.5rem 0;
    }

    .tags-container > a{
        padding: 0.15rem 0.35rem;
    }
}