.dropdown-menu{
    /* width: 28%; */
    display: inline-block;
    position: absolute;
    right: 2%;
    /* top: 100%; */
    background-color: var(--primary-colour);
    border-radius: var(--element-border-radius);
    transition: all 0.7s;
    /* display: flex;
    flex-direction: column; */
    padding: 1rem;
    border: 1px solid var(--hover-colour);
}



.dropdown-menu-elements{
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

/* .dropdown-menu-elements:first-child{
    padding-top: 0.5rem;
    border-top-left-radius: var(--element-border-radius);
    border-top-right-radius: var(--element-border-radius);
} */

.dropdown-menu-elements:last-child{
    padding-bottom: 0.5rem;
    border-bottom-left-radius: var(--element-border-radius);
    border-bottom-right-radius: var(--element-border-radius);
}

.dropdown-menu-elements:hover{
    background-color: var(--hover-colour);
    border-radius: var(--element-border-radius);
    border: 0;
    cursor: pointer;
}

.dropdown-menu-elements > i{
    font-size: var(--elemets-font-size);
    color: var(--secondry-color);
    margin-right: 1rem;
    font-size: clamp(0.65rem, 1.4vw, 1.35rem);
}

.dropdown-menu-elements > span{
    font-size: var(--elemets-font-size);
    color: var(--secondry-color);
    font-size: clamp(0.65rem, 1.4vw, 1.35rem);
}

.dropdown-menu-profile-section{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--secondry-color);
    text-decoration: none;
}

.dropdown-menu-profile-section:hover .dropdown-menu-username{
    color: var(--secondry-hover-color);
}

.dropdown-menu-profile-section > img{
    height: 40px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: var(--round-border-radius);
    margin-right: 1rem;
}

.dropdown-menu-profile-section > span{
    font-size: clamp(0.65rem, 2vw, 1.75rem);
    color: var(--secondry-color);
}

.hidden{
    visibility: hidden;
    opacity: 0;
    top: 90%;
    transition: all 0.4s;
}

.show{
    visibility: visible;
    opacity: 1;
    top: 100%;
    transition: all 0.4s;
}