<div class="wallpapersInfoCards">
    <div class="totalWallpapersCard">
        <span><i class="fa-solid fa-images"></i>Total Wallpapers</span>
        <h2>820</h2>
    </div>
    <div class="newWallpapersCard">
        <span><i class="fa-solid fa-chart-line"></i>New Wallpapers</span>
        <h2>345</h2>
    </div>
    <div class="flaggedWallpapersCard">
        <span><i class="fa-solid fa-flag"></i>Flagged Wallpapers</span>
        <h2>14</h2>
    </div>
    <div class="storageUsedCard">
        <span><i class="fa-solid fa-database"></i>Storage Used</span>
        <h2>5.8 GB</h2>
    </div>
</div>

<div class="wallpapersTable">
    <div class="wallpapersTableHeader">
        <div class="wallpapersTableOptions">
            <h3>Wallpapers</h3>
            <div class="wallpapersTableSearchBox">
                <button type="button" class="wallpaper-search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" name="search" class="wallpaper-search-input" placeholder="Search User" autocomplete="off">
            </div>
        </div>
        <div class="wallpapersTableHeadings">
            <span>Wallpaper <i class="fa-solid fa-caret-down table-filter-applied"></i></span>
            <span>User <i class="fa-solid fa-caret-down table-filter-applied"></i></span>
            <span class="wallpaperDownloadsHeading">Downloads <i class="fa-solid fa-caret-down table-filter-applied"></i></span>
            <span class="wallpaperUploadDateHeading">Date <i class="fa-solid fa-caret-down table-filter-applied"></i></span>
            <span>Actions</span>
        </div>
    </div>
    <div class="wallpapersTableBody">

        <div class="wallpapersTableRow">
            <div class="status-box safe"></div>
            <div class="wallpaperThumbnail">
                <div class="wallpaperContainer">
                    <img src="/images/wallpapers1/cars/cars1.jpg" alt="">
                </div>
            </div>
            <div class="wallpaperUploader">
                <span>Sato Hana</span>
            </div>
            <div class="wallpaperDownloads">
                <span>235</span>
            </div>
            <div class="wallpaperUploadDate">
                <span>Feb-20-2025</span>
            </div>
            <div class="wallpaperAction">
                <span class="edit-wallpaper"><i class="fa-solid fa-pen-to-square"></i></span>
                <span class="delete-wallpaper"><i class="fa-solid fa-trash-can"></i></span>
            </div>
        </div>
        <div class="wallpapersTableRow">
            <div class="status-box safe"></div>
            <div class="wallpaperThumbnail">
                <div class="wallpaperContainer">
                    <img src="/images/wallpapers1/cars/cars10.jpg" alt="">
                </div>
            </div>
            <div class="wallpaperUploader">
                <span>Sato Hana</span>
            </div>
            <div class="wallpaperDownloads">
                <span>235</span>
            </div>
            <div class="wallpaperUploadDate">
                <span>Feb-20-2025</span>
            </div>
            <div class="wallpaperAction">
                <span class="edit-wallpaper"><i class="fa-solid fa-pen-to-square"></i></span>
                <span class="delete-wallpaper"><i class="fa-solid fa-trash-can"></i></span>
            </div>
        </div>
        <div class="wallpapersTableRow">
            <div class="status-box safe"></div>
            <div class="wallpaperThumbnail">
                <div class="wallpaperContainer">
                    <img src="/images/wallpapers1/god/god1.jpg" alt="">
                </div>
            </div>
            <div class="wallpaperUploader">
                <span>Sato Hana</span>
            </div>
            <div class="wallpaperDownloads">
                <span>235</span>
            </div>
            <div class="wallpaperUploadDate">
                <span>Feb-20-2025</span>
            </div>
            <div class="wallpaperAction">
                <span class="edit-wallpaper"><i class="fa-solid fa-pen-to-square"></i></span>
                <span class="delete-wallpaper"><i class="fa-solid fa-trash-can"></i></span>
            </div>
        </div>
        <div class="wallpapersTableRow">
            <div class="status-box safe"></div>
            <div class="wallpaperThumbnail">
                <div class="wallpaperContainer">
                    <img src="/images/wallpapers1/animal/animal1.jpg" alt="">
                </div>
            </div>
            <div class="wallpaperUploader">
                <span>Sato Hana</span>
            </div>
            <div class="wallpaperDownloads">
                <span>235</span>
            </div>
            <div class="wallpaperUploadDate">
                <span>Feb-20-2025</span>
            </div>
            <div class="wallpaperAction">
                <span class="edit-wallpaper"><i class="fa-solid fa-pen-to-square"></i></span>
                <span class="delete-wallpaper"><i class="fa-solid fa-trash-can"></i></span>
            </div>
        </div>
        <div class="wallpapersTableRow">
            <div class="status-box safe"></div>
            <div class="wallpaperThumbnail">
                <div class="wallpaperContainer">
                    <img src="/images/wallpapers1/anime/anime1.jpg" alt="">
                </div>
            </div>
            <div class="wallpaperUploader">
                <span>Sato Hana</span>
            </div>
            <div class="wallpaperDownloads">
                <span>235</span>
            </div>
            <div class="wallpaperUploadDate">
                <span>Feb-20-2025</span>
            </div>
            <div class="wallpaperAction">
                <span class="edit-wallpaper"><i class="fa-solid fa-pen-to-square"></i></span>
                <span class="delete-wallpaper"><i class="fa-solid fa-trash-can"></i></span>
            </div>
        </div>
        <div class="wallpapersTableRow">
            <div class="status-box abnormal"></div>
            <div class="wallpaperThumbnail">
                <div class="wallpaperContainer">
                    <img src="/images/wallpapers1/cars/cars5.jpg" alt="">
                </div>
            </div>
            <div class="wallpaperUploader">
                <span>Sato Hana</span>
            </div>
            <div class="wallpaperDownloads">
                <span>235</span>
            </div>
            <div class="wallpaperUploadDate">
                <span>Feb-20-2025</span>
            </div>
            <div class="wallpaperAction">
                <span class="edit-wallpaper"><i class="fa-solid fa-pen-to-square"></i></span>
                <span class="delete-wallpaper"><i class="fa-solid fa-trash-can"></i></span>
            </div>
        </div>
        <div class="wallpapersTableRow">
            <div class="status-box unsafe"></div>
            <div class="wallpaperThumbnail">
                <div class="wallpaperContainer">
                    <img src="/images/wallpapers1/cars/cars6.jpg" alt="">
                </div>
            </div>
            <div class="wallpaperUploader">
                <span>Sato Hana</span>
            </div>
            <div class="wallpaperDownloads">
                <span>235</span>
            </div>
            <div class="wallpaperUploadDate">
                <span>Feb-20-2025</span>
            </div>
            <div class="wallpaperAction">
                <span class="edit-wallpaper"><i class="fa-solid fa-pen-to-square"></i></span>
                <span class="delete-wallpaper"><i class="fa-solid fa-trash-can"></i></span>
            </div>
        </div>
        <div class="wallpapersTableRow">
            <div class="status-box danger"></div>
            <div class="wallpaperThumbnail">
                <div class="wallpaperContainer">
                    <img src="/images/wallpapers1/cars/cars4.jpg" alt="">
                </div>
            </div>
            <div class="wallpaperUploader">
                <span>Sato Hana</span>
            </div>
            <div class="wallpaperDownloads">
                <span>235</span>
            </div>
            <div class="wallpaperUploadDate">
                <span>Feb-20-2025</span>
            </div>
            <div class="wallpaperAction">
                <span class="edit-wallpaper"><i class="fa-solid fa-pen-to-square"></i></span>
                <span class="delete-wallpaper"><i class="fa-solid fa-trash-can"></i></span>
            </div>
        </div>
        <div class="wallpapersTableRow">
            <div class="status-box safe"></div>
            <div class="wallpaperThumbnail">
                <div class="wallpaperContainer">
                    <img src="/images/wallpapers1/cars/cars2.jpg" alt="">
                </div>
            </div>
            <div class="wallpaperUploader">
                <span>Sato Hana</span>
            </div>
            <div class="wallpaperDownloads">
                <span>235</span>
            </div>
            <div class="wallpaperUploadDate">
                <span>Feb-20-2025</span>
            </div>
            <div class="wallpaperAction">
                <span class="edit-wallpaper"><i class="fa-solid fa-pen-to-square"></i></span>
                <span class="delete-wallpaper"><i class="fa-solid fa-trash-can"></i></span>
            </div>
        </div>
        <div class="wallpapersTableRow">
            <div class="status-box safe"></div>
            <div class="wallpaperThumbnail">
                <div class="wallpaperContainer">
                    <img src="/images/wallpapers1/cars/cars3.jpg" alt="">
                </div>
            </div>
            <div class="wallpaperUploader">
                <span>Sato Hana</span>
            </div>
            <div class="wallpaperDownloads">
                <span>235</span>
            </div>
            <div class="wallpaperUploadDate">
                <span>Feb-20-2025</span>
            </div>
            <div class="wallpaperAction">
                <span class="edit-wallpaper"><i class="fa-solid fa-pen-to-square"></i></span>
                <span class="delete-wallpaper"><i class="fa-solid fa-trash-can"></i></span>
            </div>
        </div>


    </div>
</div>

<div class="usersCharts">
    <div class="rolesChartCard">
        <div class="rolesChartHeadings"></div>
        <div class="rolesChartBox">
            <canvas id="rolesChart"></canvas>
        </div>
    </div>
    <div class="usersChartCard">
        <div class="usersChartHeadings"></div>
        <div class="usersChartBox">
            <canvas id="usersChart"></canvas>
        </div>
    </div>
</div>

<div class="wallpaperInfoPopupCard">
    <button class="popup-card-close-button">x</button>
    <div class="popup-card-wallpaper-container">
        <img src="/images/wallpapers1/cars/cars3.jpg" alt="">
    </div>
    <div class="popup-card-wallpaper-info-container">
        <div class="popup-card-wallpaper-uploader">
            <img src="/images/profile_pictures/placeholder.jpg" alt="">
            <span>Sato Hana</span>
        </div>
        <div class="popup-card-wallpaper-meta-data">
            <span><i class="fa-solid fa-circle-exclamation"></i>Reports 2</span>
            <span><i class="fa-solid fa-download"></i>Downloads 750</span>
            <span><i class="fa-solid fa-calendar"></i>Uploaded on Feb 23 2025</span>
        </div>
        <div class="popup-card-wallpaper-tags">
            <span>Anime</span>
            <span>Nature</span>
            <span>Fuck</span>
            <span>Cars</span>
            <span>Bikes</span>
            <span>Sky</span>
            <span>Supra</span>
            <span>GTR</span>
            <span>BMW</span>
            <span>Motivational</span>
            <span>Rare</span>
            <span>Admin</span>
            <span>Nothing</span>
        </div>
    </div>
    <!-- <div class="popup-card-buttons-container">
        <button>View<br>Reports</button>
        <button>Edit<br>Wallpaper</button>
        <button>Delete<br>Wallpaper</button>
    </div> -->
</div>